/* Headers changes */
body {
     font-family: 'Open Sans';
}

.navbar-brand a {
    color: #68B604;
    text-decoration: none;
}

.jumbotron {
    background-color: #018D74;
    padding: 21px;
}

.jumbotron > h1, .jumbotron p {
    font-weight: normal;
    margin: 21px;
    text-align: center;
    color: white;
}

.jumbotron > pre[class*="language-"] {
     text-align:center;
     border-width: 0;
}

:not(pre) > pre[class*="language-"] {
    border-radius: 0;
    background-color: #2E2E2D;
}

.navbar-default {
    border-bottom: 0;
    border-radius: 0;
}
.install + .panel {
    background-color: #66FFCC;
}

.container.install h2 {
    text-align: center;
} 

.screenshot {
    margin-left: auto;
    margin-right: auto;
}