{% include "breadcrumbs.html" %}

{% if page.is_homepage %}
    {% include "homepage.html" %}
{% else %}
    {% if page.parent %}
        <h2 class="chapter__headline">{{ page.parent.title }}</h2>
    {% endif %}

    {% include "toc.html" %}

    {{ page.content }}
{% endif %}

{# Pager #}
{% if page.previous_page or page.next_page  %}
    {% include "page-nav.html" %}
{% endif %}

{# Message for help wanted #}
{% if not page.is_homepage or (page.is_homepage and config.extra.show_special_homepage) %}
    <div class="help-wanted">
        <p>
            Found a mistake or want to contribute to the documentation?
            <a href="{{ page.edit_url }}" target="_blank" class="help-wanted__link">
                Edit this page on GitHub!
            </a>
        </p>
    </div>
{% endif %}
