<div class="navbar navbar-default" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">

            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Main title -->
            <span class="navbar-brand">
                <a class="logo-link" href="https://framework.zend.com/" data-tooltip data-placement="bottom" title="Go to the ZF homepage">
                    <img src="{{ base_url }}/img/zend-framework-logo.svg" height="28" alt="Zend Framework">
                </a>
            </span>
        </div>

        <!-- Main navigation -->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://framework.zend.com/about">About</a>
                </li>
                <li>
                    <a href="https://framework.zend.com/downloads">Install</a>
                </li>
                <li class="active">
                    <a href="https://docs.zendframework.com">Documentation</a>
                </li>
                <li>
                    <a href="http://www.zend.com/en/services/certification">Get Certified</a>
                </li>
                <li>
                    <a href="https://framework.zend.com/blog">Blog</a>
                </li>
                <li>
                    <a href="https://framework.zend.com/participate">Participate</a>
                </li>
            </ul>
            {% if config.site_name != 'Documentation' %}
                <div class="nav navbar-nav navbar-collapse visible-xs-block ">
                    {% include "subnavigation.html" %}
                </div>
            {% endif %}
            <div class="nav navbar-nav navbar-collapse visible-xs-block component-selector">
                <h4 class="component-selector__title">Components</h4>
                <h5 class="component-selector__subtitle">Find documentation…</h5>
                <select class="form-control component-selector__control">
                    <option value="/">Overview</option>
                    <option value="tutorials">Tutorials</option>
                    <optgroup label="Components">
                        <option value="zend-barcode">Authentication</option>
                        <option value="zend-barcode">Barcode</option>
                        <option value="zend-cache">Cache</option>
                        <option value="zend-captcha">Captcha</option>
                        <option value="zend-captcha">Code</option>
                        <option value="zend-captcha">Component Installer</option>
                        <option value="zend-captcha">Config</option>
                        <option value="zend-captcha">Config Aggregator</option>
                        <option value="zend-captcha">Console</option>
                        <option value="zend-captcha">Crypt</option>
                        <option value="zend-captcha">DB</option>
                        <option value="zend-captcha">Debug</option>
                        <option value="zend-captcha">DI</option>
                        <option value="zend-captcha">Diactoros</option>
                        <option value="zend-captcha">DOM</option>
                        <option value="zend-captcha">Escaper</option>
                        <option value="">…</option>
                        <option value="zend-validator" selected>Validator</option>
                    </optgroup>
                </select>
            </div>
        </div>
    </div>
</div>
