<div class="subnavigation hidden-print">
    <h4 class="subnavigation__title">
        <a href="{{ nav.homepage.url }}">{{ config.site_name }}</a>
    </h4>

    <ul class="subnavigation__list">
        {% for nav_item in nav if nav_item.title != 'Home' and not nav_item.title.startswith('_') %}
            {% if nav_item.children %}
                <li class="subnavigation__list-item">
                    <span class="subnavigation__headline">{{ nav_item.title }}</span>
                    <ul class="subnavigation__list">
                        {% for nav_item in nav_item.children if not nav_item.title.startswith('_') %}
                            {% include "subnavigation-sub.html" %}
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li class="subnavigation__list-item {% if nav_item.active %}subnavigation__list-item--active{% endif %}">
                    <a href="{{ nav_item.url }}" class="subnavigation__link">{{ nav_item.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
