{% for toc_item in page.toc %}
    {% if toc_item.children|length > 0 %}
        <div class="toc">
            <h6 class="toc__headline">In This Article</h6>
            <ul class="toc__list">
                {% for toc_item in toc_item.children %}
                    <li class="toc__entry">
                        <a href="{{ toc_item.url }}" class="toc__link">{{ toc_item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endfor %}
