.footer {
    background-color: $header-footer-bg-color;
    color: darken($header-footer-font-color, 15%);
    padding: $padding-large-vertical * 3;
    margin-top: $padding-large-vertical * 2;

    @media (max-width: $screen-xs-min) {
        margin-top: 0
    }

    &__headline {
        border-bottom: 1px solid darken($header-footer-font-color, 50%);
        padding-bottom: $padding-base-vertical;
    }

    &__button {
        font-size: $padding-large-vertical * 2.5;
        margin-right: $padding-large-vertical / 2;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    a {
        &:link,
        &:visited {
            color: lighten($text-color, 40%);
        }

        &:hover {
            color: $link-color;
        }
    }
}
