.navbar {
    border-top: 3px solid darken($brand-primary, 10%);
    /*box-shadow : 0 0 9px 0 rgba(0, 0, 0, .3);*/

    a {
        &:focus {
            outline: 0;
        }
    }

    &-brand {
        a {
            &:hover {
                text-decoration: none;
                color: white;
            }
        }
    }
}
