.navbar {
    border: none;

    a {
        &:focus {
            outline: 0;
        }
    }

    &-brand {
        padding-top: $padding-large-vertical;

        a {
            &:hover {
                text-decoration: none;
                color: white;
            }
        }

        img {
            height: 25px;
        }
    }

    &-right {
        margin-right: -($padding-small-horizontal * 3);

        @media (max-width: $screen-xs-min) {
            & > li > a {
                padding-left: $padding-small-horizontal * 2.5;
            }
        }
    }
}
