.page-nav {
    list-style-type: none;
    border-bottom: 1px solid darken($separater-color, 10%);
    display: table;
    width: 100%;
    margin-top: $padding-large-vertical * 4;
    margin-bottom: $padding-large-vertical * 4;
    padding: ($padding-base-vertical * 4) $padding-base-vertical;

    @media (max-width: $screen-xs-min) {
        margin-top: $padding-large-vertical;
        margin-bottom: 0
    }

    &__item {
        display: table-cell;

        &:first-child {
            text-align: left;
        }

        &:last-child {
            text-align: right;
        }
    }

    &__link {
        border: none;
        color: lighten($text-color, 15%);

        &:hover {
            text-decoration: none;
            color: $link-color;
        }
    }
}
